DURANGO_IMAGE_TAG=staging

DURANGO_CLUSTER_NAME=Durango Brasil - STAGING

# No VPS, informe aqui o IP público ou hostname utilizado pelo cliente.
DURANGO_PUBLIC_HOST=127.0.0.1

DURANGO_MAX_PLAYERS=20

DURANGO_GATEWAY_PORT=8190
DURANGO_GAME_PORT=8191
